In [2]:
rows = int(input("Enter the number of rows: "))  
  
# the outer loop is executing in reversed order  
for i in range(rows + 1, 0, -1):    
    for j in range(0, i - 1):  
        print("5", end=' ')  
    print(" ")

Enter the number of rows: 5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [10]:
rows = 5

for i in range(rows, 0, -1):

    for j in range(0, i + 1):

        print(j, end=' ')

    print(" ")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [2]:
rows = int(input("Enter the number of rows: "))  
i = 1  
# outer file loop to print number of rows  
while i <= rows:  
    j = 1  
    # Check the column after each iteration  
    while j <= i:  
        # print odd values  
        print((i * 2 - 1), end=" ")  
        j = j + 1  
    i = i + 1  
    print()

Enter the number of rows: 5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [3]:
rows = 6

for row in range(1, rows):

    for column in range(row, 0, -1):

        print(column, end=' ')

    print(" ")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [4]:
start = 1

stop = 2

currentNumber = stop

for row in range(2, 6):

    for col in range(start, stop):

        currentNumber -= 1

        print(currentNumber, end=' ')

    print(" ")

    start = stop

    stop += row

    currentNumber = stop

1
3 2
6 5 4
10 9 8 7

In [8]:
def pascal(n):
  for i in range(0, n):
      for j in range(0, i+1):
          print(function(i, j)," ", end="")
      print()

def function(n, k):
    res = 1
    if (k > n - k):
        k = n - k
    for i in range(0, k):
        res = res * (n - i)
        res = res // (i + 1)

    return res

pascal(7)

1
1  1
1  2  1
1  3  3  1
1  4  6  4  1
1  5  10  10  5  1
1  6  15  20  15  6  1

In [9]:
rows = int(input("Enter the number of rows: "))  
for i in range(1, rows + 1):  
    for j in range(1, rows + 1):  
        # Check condition if value of j is smaller or equal than  
        # the j then print i otherwise print j  
        if j <= i:  
            print(i, end=' ')  
        else:  
            print(j, end=' ')  
    print()

Enter the number of rows: 5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [15]:
row = int(input("enter the number of rows: "))
for i in range(1, row):
    for j in range(1, i+1):
        print(i * j, end = ' ')
    print()

enter the number of rows: 9
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [17]:
rows = int(input("Enter the number of rows: "))  
  
# It is used to print space  
k = 2 * rows - 2  
# Outer loop in reverse order  
for i in range(rows, -1, -1):  
    # Inner loop will print the number of space.  
    for j in range(k, 0, -1):  
        print(end=" ")  
    k = k + 1  
    # This inner loop will print the number o stars  
    for j in range(0, i + 1):  
        print("*", end=" ")  
    print("")

Enter the number of rows: 5
        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [18]:
n = int(input("Enter the number of rows: "))  
m = (2 * n) - 2  
for i in range(0, n):  
    for j in range(0, m):  
        print(end=" ")  
    m = m - 1  # decrementing m after each loop  
    for j in range(0, i + 1):  
        # printing full Triangle pyramid using stars  
        print("* ", end=' ')  
    print(" ")

Enter the number of rows: 7
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [19]:
rows = int(input("enter the number of rows: "))

# Outer loop will print the number of rows
for i in range(0, rows):
    # This inner loop will print the stars
    for j in range(0, i+1):
        print("*", end=' ')
    # Change line after each iteration
    print(" ")

print()
# For second pattern
for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*",end=' ')
    print(" ")

enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *

* * * * *
* * * *
* * *
* *
*

In [22]:
rows = int(input("Enter the number of rows: "))  
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [23]:
rows = int(input("Enter the number of rows: "))
i = 1
while i <= rows:
    j = i
    while j < rows:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

Enter the number of rows: 5
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [25]:
rows = int(input("Enter the number of rows: "))
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

Enter the number of rows: 5
* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [27]:
rows = int(input("Enter the number of rows: "))
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

Enter the number of rows: 16
****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*